[flake8]
ignore =
    # line length max in black is 88 instead of 79
    E501,
    # allow line break before binary operator
    W503,
    # whitespace before ':' added by black
    E203
max-line-length = 88
max-complexity = 18
