openapi: 3.0.2
info:
  version: "0.1.4"
  title: 'HoloStorage Accessor API'
  description: 'API to access holograms and metadata from HoloStorage'

# Added by API Auto Mocking Plugin
servers:
  - description: HoloStorage Sample Server URL
    url: https://holoaccessor.com/api/0.1.4
  - description: SwaggerHub API Auto Mocking
    url: https://virtserver.swaggerhub.com/boonwj/HoloRepository/0.1.4

paths:
  /patients:
    get:
      summary: Mass query for patients metadata in HoloStorage
      description: |-
        Obtain patient information stored within HoloStorage.

        Multiple IDs can be passed with the syntax `/patients?pid=id1,id2,id3,...,idx`
      parameters:
        - $ref: '#/components/parameters/PIDQuery'

      responses:
        200:
          description: Successful pulling of patients metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Patients'
        400:
          description: Unaccepted input

  /patients/{pid}:
    get:
      summary: Get a single patient metadata in HoloStorage
      description: Endpoint for a singular patient lookup
      parameters:
        - $ref: '#/components/parameters/PIDPath'
      responses:
        200:
          description: Successful pulling of the patient's metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Patient'
        400:
          description: Unaccepted input
        404:
          description: Patient cannot be found

    put:
      summary: Add or update basic patient information
      description: |-
        This endpoint allows you to add new patient information in HoloStorage. A new Patient will be created if PID does not exist, else it will be updated.

        PID in path and request body will be checked as a means to ensure that the insertion is intended.
      parameters:
        - $ref: '#/components/parameters/PIDPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatientBasic'
      responses:
        200:
          description: Successful modification
        201:
          description: Successful created
        400:
          description: Unaccepted input

  /holograms:
    get:
      summary: Mass query for hologram metadata based on hologram ids
      description: |-
        Obtain hologram information stored within HoloStorage.

        Multiple IDs can be passed with the syntax `/holograms?hid=id1,id2,id3,...,idx`
      parameters:
        - $ref: '#/components/parameters/HIDQuery'

      responses:
        200:
          description: Successfully found all hologram metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Holograms'
        400:
          description: Unaccepted input

    post:
      summary: 'Upload hologram to HoloStorage'
      description: 'Hologram and associated metadata to be uploaded onto HoloStorage. The UUID will be generated automatically by the accessor'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/HologramUploadData'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The UUID of the uploaded hologram
                    example: 32853d69-3e71-4c87-abf9-56f0eddefefc
        400:
          description: Unaccepted input

  /holograms/{hid}:
    get:
      summary: Get a single hologram metadata based on the hologram id
      description: Endpoint for a single hologram lookup
      parameters:
        - $ref: '#/components/parameters/HIDPath'
      responses:
        200:
          description: Successfully found all hologram metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Holograms'
        400:
          description: Unaccepted input
        404:
          description: Metadata of holograms were not found

    delete:
      summary: Delete a hologram in HoloStorage
      description: Delete holograms based on ID
      parameters:
        - $ref: '#/components/parameters/HIDPath'
      responses:
        200:
          description: Successful deletion of hologram
        404:
          description: Hologram cannot be located for deletion
        500:
          description: Error encountered during deletion process

  /holograms/{hid}/download:
    get:
      summary: Download holograms models based on the hologram id
      description: Initiates download operation for the specified hid
      parameters:
        - $ref: '#/components/parameters/HIDPath'
      responses:
        200:
          description: Download a single hologram based on id
          content:
            model/gltf-binary:
              schema:
                type: string
                format: binary
                example: '[file content goes here]'
        404:
          description: Hologram is not found

components:
  parameters:
    PIDQuery:
      in: query
      name: pid
      required: true
      schema:
        type: string
        format: uuid
        example: 2321e0b8-99ea-4961-aab7-b65fbc8f9673
      style: form
      explode: false
      description: The UUID assigned to the specific patient

    PIDPath:
      in: path
      name: pid
      required: true
      schema:
        type: string
        format: uuid
        example: 2321e0b8-99ea-4961-aab7-b65fbc8f9673
      description: The UUID assigned to the specific patient

    HIDQuery:
      in: query
      name: hid
      required: true
      schema:
        type: string
        format: uuid
        example: abcdef12-3456-7890-ccbb-eeffaabbccdd
      style: form
      explode: false
      description: The UUID assigned to a hologram

    HIDPath:
      in: path
      name: hid
      required: true
      schema:
        type: string
        format: uuid
        example: abcdef12-3456-7890-ccbb-eeffaabbccdd
      description: The UUID assigned to a hologram

  schemas:
    PersonName:
      description: Components that make up the name of a person
      type: object
      properties:
        full:
          type: string
          example: Marvin Portebello
        title:
          type: string
          example: Mr
        given:
          type: string
          example: Marvin
        family:
          type: string
          example: Portebello

    Patients:
      description: An array of patients metadata
      type: array
      items:
        $ref: '#/components/schemas/Patient'

    Patient:
      title: Full Patient Info
      description: Metadata of a single patient
      allOf:
        - $ref: '#/components/schemas/PatientBasic'
        - type: object
          properties:
            holograms:
              type: array
              items:
                $ref: '#/components/schemas/HologramBasic'

    PatientBasic:
      title: Basic Patient Info
      description: The basic metadata of a patient
      type: object
      properties:
        pid:
          type: string
          example: 2321e0b8-99ea-4961-aab7-b65fbc8f9673
        name:
          $ref: '#/components/schemas/PersonName'
        gender:
          type: string
          example: male
          enum: [male, female, unknown, other]
        birthDate:
          type: string
          format: date

    Holograms:
      description: An array of hologram metadata
      type: array
      items:
        $ref: '#/components/schemas/Hologram'

    Hologram:
      description: Metadata of a hologram
      allOf:
        - $ref: '#/components/schemas/HologramBasic'
        - type: object
          properties:
            patient:
              $ref: '#/components/schemas/PatientBasic'
            author:
              $ref: '#/components/schemas/Author'

    HologramUploadData:
      title: Hologram Upload
      description: Data structure to upload holograms to HoloStorage
      allOf:
        - $ref: '#/components/schemas/Hologram'
        - type: object
          properties:
            hologramFile:
              type: string
              format: binary
              example: [file content goes here]
              description: The raw binary of the hologram model

    HologramBasic:
      title: Basic Hologram info
      type: object
      properties:
        hid:
          type: string
          description: UUID of a hologram
          example: 2321e0b8-99ea-4961-aab7-b65fbc8f9673
        title:
          type: string
          description: Summary of the hologram
          example: Malformed hip bones
        description:
          type: string
          description: Further elaborations on the hologram with additional details
          example: Malformed hip bones on an 8 year old child suffering from a birth defect
        contentType:
          type: string
          description: The mimetype of the hologram file
          example: model/gltf-binary
        fileSizeInKb:
          type: integer
          description: The size of the hologram in KB
          example: 5120
        createdDate:
          type: string
          format: date-time
          description: The date the hologram was generated
          example: '2017-07-21T17:32:28Z'
        creationMode:
          type: string
          enum: [GENERATE_FROM_IMAGING_STUDY, UPLOAD_EXISTING_MODEL]
          description: The way the hologram was created
          example: GENERATE_FROM_IMAGING_STUDY
        pipelineId:
          type: string
          description: The id to the pipeline that was used in the generation of the hologram
          example: bone-01

    Author:
      title: Author
      description: Who and/or what authored the Hologram
      type: object
      properties:
        aid:
          type: string
          description: The author ID
          example: 2321e0b8-99ea-4961-aab7-b65fbc8f9673
        name:
          $ref: '#/components/schemas/PersonName'
